<footer class="flex w-full bg-black py-8">
    <section class="flex flex-col-reverse md:flex-row mx-auto py-4 px-4 container">
        <section class="flex flex-col max-w-[280px]">
            <app-logo class="h-12 shrink-0 mb-4"></app-logo>

            <h2 class="text-lg font-bold text-white mb-2">Insights you can act on</h2>
            <h3 class="text-white mb-2">
                Founded in 1976, CGI is among the largest IT and business consulting services firms in the world. We are
                insights-driven and outcomes-based to help accelerate returns on your investments.
            </h3>

            <h4 class="text-sm font-semibold text-gray-400">© 2022 CGI Inc.</h4>
        </section>

        <nav class="flex flex-wrap flex-col md:flex-row flex-grow justify-end">
            <section
                *ngFor="let navCategoryItem of navCategories; let i = index"
                class="flex flex-col mb-8 md:mb-0 md:ml-12 min-w-[100px]"
            >
                <h2 class="text-xl text-white font-bold mb-4">{{ navCategoryItem.display }}</h2>
                <a
                    *ngFor="let navItem of navCategoryItem.items; let i = index"
                    href="{{ navItem.url }}"
                    target="_blank"
                    title="{{ navItem.display }}"
                    class="font-semibold text-white hover:text-secondary transition mb-2"
                >{{ navItem.display }}</a>
            </section>
        </nav>
    </section>
</footer>
