
<h2 class="text-2xl text-black py-3">Choose a Room:</h2>

<button class="py-3 px-4 inline-flex justify-center items-center gap-2 border font-medium bg-cyan-500 text-white hover:bg-cyan-700"
        (click)="switchFilter()">Filter
    <i class="fa-solid fa-caret-down ml-2 mt-1"></i>
</button>
<br>

<div *ngIf="filter" class="flex overflow-visible">
    <div class="m-6">
        <ul>
            <li class="relative flex w-52  items-center justify-center gap-2.5 border-b-2 bg-white px-3 py-3.5 hover:border-gray-400">
                <input type="checkbox" id="checkbox-meetingroom" class="peer relative h-5 w-5 shrink-0 appearance-none rounded-sm border
                     checked:bg-gray-500 hover:ring hover:ring-gray-300"
                       (change)="showMeetingRooms = !showMeetingRooms" />
                <label for="checkbox-meetingroom" class="w-full cursor-pointer font-medium text-gray-600">
                    Meetingrooms
                </label>
            </li>
            <li class="flex w-52 items-center gap-2.5 border-b-2 bg-white px-3 py-2 hover:border-gray-400">
                <input type="checkbox" id="checkbox-workroom" class="peer relative left-0 h-5 w-5 shrink-0 appearance-none rounded-sm border
                    outline-none checked:bg-gray-500 hover:ring hover:ring-gray-300"
                       (change)="showWorkRooms = !showWorkRooms"
                />
                <label for="checkbox-workroom" class="inline-block w-full cursor-pointer font-medium text-gray-600">
                    Workrooms
                </label>
            </li>
        </ul>
    </div>
</div>


<div class="relative rounded-xl">
    <div class="shadow-sm overflow-auto  my-8">
        <table class="border-collapse table-auto w-full text-sm">
            <thead class="bg-white dark:bg-slate-800">
            <tr>
                <th class="border-b dark:border-slate-600 font-medium p-4 pl-8 pt-0 pb-3 text-slate-400 dark:text-slate-200 text-center"
                    *ngFor="let header of tableHeaders">{{ header }}</th>
            </tr>
            </thead>
            <tbody class="bg-white dark:bg-slate-800">
            <ng-container *ngIf="showMeetingRooms || (!showWorkRooms && !showMeetingRooms)">
                <tr class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400 text-center hover:bg-slate-700 hover:cursor-pointer"
                    *ngFor="let meetingRoom of meetingroomList" (click)="clickedRoom(meetingRoom.id, 'meetingroom')">
                    <td>Meetingroom</td>
                    <td>{{ meetingRoom.id}}</td>
                    <td>{{ meetingRoom.location.name }}</td>
                    <td>{{ meetingRoom.maxCapacity }}</td>
                </tr>
            </ng-container>
            <ng-container *ngIf="showWorkRooms || (!showWorkRooms && !showMeetingRooms)">
                <tr class="border-b border-slate-100 dark:border-slate-700 p-4 pl-8 text-slate-500 dark:text-slate-400 text-center hover:bg-slate-700 hover:cursor-pointer"
                    *ngFor="let workRoom of workroomList" (click)="clickedRoom(workRoom.id, 'workroom')">
                    <td>Workroom</td>
                    <td>{{ workRoom.id }}</td>
                    <td>{{ workRoom.location.name }}</td>
                    <td>{{ workRoom.maxCapacity }}</td>
                </tr>
            </ng-container>
            </tbody>
        </table>
    </div>
</div>

<button
    class="py-3 px-4 inline-flex justify-center items-center gap-2 border font-medium bg-red-500 text-white hover:bg-red-700"
    (click)="goBack()">Previous Page
</button>
