<app-content>
    <h1 class="text-3xl text-black py-3 md:text-3xl min-[320px]:text-xl">Welcome to the reservation page!</h1>
    <h2 class="text-3xl text-black py-3 md:text-3xl min-[320px]:text-xl">Here u can make, edit and view your reservations</h2>

    <div class="max-w-xs flex flex-col shadow-sm">
        <button class="py-3 px-4 inline-flex justify-center items-center gap-2 border font-medium bg-cyan-500 text-white hover:bg-cyan-700"
                *ngFor="let option of reservationOptions"
                (click)="loadSelectedOption(option)">
            {{ option }}
        </button>
    </div>


</app-content>
