<app-content>
  <div class="grid grid-cols-1 md:grid-cols-2 max-w-6xl gap-4">
    <div class="hero h-96 bg-base-200 rounded-md"
         *ngFor="let option of adminOptions">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">{{ option[0] }}</h1>
          <p class="py-6">{{ option[1]}}</p>
          <button class="btn btn-primary" (click)="loadSelectedOption(option[0])">{{ option[0] }}</button>
        </div>
      </div>
    </div>
  </div>
</app-content>

