<app-content>
    <section class="flex flex-col md:flex-row">
        <h1 class="text-4xl text-black py-3 text-center md:text-left">Make Reservation</h1>
        <section class="flex mx-auto md:ml-auto md:mr-0 my-auto text-gray-500" *ngIf="selectedLocation">
            <p class="hover:cursor-pointer hover:underline" *ngIf="showRoom || showMakeReservation"
               (click)="showLocations()">{{selectedLocation.name}}</p>
            <i class="fa-solid fa-arrow-right mx-2 my-auto" *ngIf="showMakeReservation"></i>
            <p class="hover:cursor-pointer hover:underline" *ngIf="showMakeReservation"
               (click)="showRooms(selectedLocation)">{{selectedRoomType}} {{selectedRoom}}</p>
        </section>
    </section>

    <hr>
    <div class="m-6">
        <div *ngIf="showLocation">
            <app-choose-location (clickLocation)="showRooms($event)"
                                 (locationListCopy)="setLocationList($event)"></app-choose-location>
        </div>

        <div *ngIf="showRoom">
            <app-choose-room (clickReturnButton)="showLocations()" (selectedRoom)="setSelectedRoom($event)"
                             [selectedLocation]="selectedLocation"></app-choose-room>
        </div>
    </div>
    <div class="m-6" *ngIf="showMakeReservation">
        <div class="container">
            <div class="row">
                <form class="flex-col flex flex-nowrap" (ngSubmit)="onSubmit(f)" #f="ngForm">
                    <div class="form-group text-black ">
                        <label class="text-2xl text-black py-3" for="date">Choose the date of the reservation:</label>
                        <input
                            type="date"
                            id="date"
                            class="form-control mt-5 mb-5 w-52 flex-row text-lg px-6 max-w-full text-center align-center rounded-md"
                            ngModel
                            name="date"
                            required>
                    </div>
                    <div class="form-group text-black ">
                        <label class="text-2xl text-black py-3" for="timeslotstart">Choose the starting time of the
                            reservation:</label>
                        <input
                            type="time"
                            id="timeslotstart"
                            class="form-control mt-5 mb-5 w-52 flex-row text-lg px-6 max-w-full text-center align-center rounded-md"
                            ngModel
                            name="timeslotstart"
                            required>
                    </div>
                    <div class="form-group text-black ">
                        <label class="text-2xl text-black py-3" for="timeslotend">Choose the ending time of the
                            reservation:</label>
                        <input
                            type="time"
                            id="timeslotend"
                            class="form-control mt-5 mb-5 w-52 flex-row text-lg px-6 max-w-full text-center align-center rounded-md"
                            ngModel
                            name="timeslotend"
                            required>
                    </div>
                    <ng-container *ngIf="f.valid; then validEntry; else invalidEntry"></ng-container>
                    <ng-template #invalidEntry>
                        <button
                            class="bg-red-500 hover:bg-red-400 text-white font-bold py-2 px-4 border-b-4 border-red-700 hover:border-red-500 rounded mt-5 w-32 max-w-full"
                            type="submit"
                            [disabled]="!f.valid">Submit
                        </button>
                    </ng-template>
                    <ng-template #validEntry>
                        <button
                            class="bg-green-500 hover:bg-green-400 text-white font-bold py-2 px-4 border-b-4 border-green-700 hover:border-green-500 rounded mt-5 w-32 max-w-full"
                            type="submit"
                            [disabled]="!f.valid">Submit
                        </button>
                    </ng-template>
                    <div class="row" *ngIf="submitted">
                        <div class="row" *ngIf="showSucces">
                            <div
                                class="flex flex-col bg-cgi-red w-full md:mx-0 px-4 py-12 rounded-lg md:shadow-xl mt-10">
                                <h3 class="font-extrabold text-2xl text-white text-center mb-2">Your entered reservation
                                    details:</h3>
                                <p class="italic text-center text-white font-semibold">
                                    Location: {{reservationDetails.location}}</p>
                                <p class="italic text-center text-white font-semibold">Type of
                                    Room: {{reservationDetails.roomtype}}</p>
                                <p class="italic text-center text-white font-semibold">Start
                                    time: {{reservationDetails.timeslotstart}}</p>
                                <p class="italic text-center text-white font-semibold">End
                                    time: {{reservationDetails.timeslotend}}</p>
                                <p class="font-semibold text-center text-white font-semibold mt-10">An Email has been
                                    sent to your email address, check your inbox!</p>
                            </div>
                        </div>
                        <div class="row" *ngIf="!showSucces">
                            <div class="bg-red-100 rounded-lg py-5 px-6 mb-4 text-base text-red-700 mb-3 mt-10"
                                 role="alert">
                                You entered a date that has already passed or your starting time was greater than your
                                ending time, please try again!
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</app-content>
