<div class="flex h-screen">
    <div class="flex flex-col sm:justify-center items-center pt-6 w-full sm:pt-0 m-auto">
        <div>
            <img src="assets/images/CGI_logo.png" class="w-48">
        </div>

        <div class="w-full sm:max-w-md mt-6 px-6 py-4 shadow-lg overflow-hidden sm:rounded-lg bg-gray-700">
            <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
                <!-- Name -->
                <div>
                    <label for="name" class="block font-medium text-sm text-gray-200">Naam</label>

                    <input id="name"
                           class="block mt-1 w-full p-1 rounded-md focus:ring-0 bg-gray-200 shadow-sm text-gray-900"
                           type="text"
                           name="name"
                           [(ngModel)]="form.name"
                           required
                           #name="ngModel"
                           minlength="3"
                           maxlength="30">
                    <div class="text-red-400 p-2" *ngIf="name.errors && f.submitted">
                        <div *ngIf="name.errors.required">Een gebruikersnaam is vereist</div>
                        <div *ngIf="name.errors.minlength">
                            Gebruikersnaam moet minimaal 3 characters zijn
                        </div>
                        <div *ngIf="name.errors.maxlength">
                            Gebruikersnaam mag maximaal 30 characters zijn
                        </div>
                    </div>

                </div>

                <!-- Email Address -->
                <div class="mt-4">
                    <label for="email" class="block font-medium text-sm text-gray-200">Email</label>

                    <input id="email"
                           class="block mt-1 w-full p-1 rounded-md focus:ring-0 bg-gray-200 shadow-sm text-gray-900"
                           type="email"
                           name="email"
                           [(ngModel)]="form.email"
                           required
                           #email="ngModel">
                    <div
                        class="text-red-400 p-2"
                        *ngIf="email.errors && f.submitted">
                        Voer alstublieft een geldig email in
                    </div>

                </div>

                <!-- Password -->
                <div class="mt-4">
                    <div class="flex">
                        <label for="password" class="block font-medium text-sm text-gray-200">Wachtwoord</label>

                    </div>

                    <input id="password"
                           class="block mt-1 w-full p-1 rounded-md focus:ring-0 bg-gray-200 shadow-sm text-gray-900"
                           type="password"
                           name="password"
                           [(ngModel)]="form.password"
                           required
                           minlength="6"
                           #password="ngModel">
                    <div
                        class="text-red-400 p-2"
                        *ngIf="password.errors && f.submitted">
                        <div *ngIf="password.errors.required">Een wachtwoord is vereist</div>
                        <div *ngIf="password.errors.minlength">
                            Wachtwoord moet minimaal 6 characters zijn.
                        </div>
                    </div>
                </div>

                <!-- Register -->
                <div class="flex mt-4">
                    <a class="text-sm text-gray-100 hover:text-gray-400 transition duration-150 ease-in-out my-auto underline"
                       href="login">
                        Al een account?
                    </a>


                    <button
                        class="ml-auto inline-flex items-center px-4 py-2 border bg-gray-600 rounded-md font-semibold text-xs text-white uppercase tracking-widest hover:bg-gray-800 transition ease-in-out duration-150">
                        REGISTER
                    </button>
                </div>
                <div
                    class="text-red-400 p-2"
                    *ngIf="f.submitted && isSignUpFailed">
                    Er is iets misgegaan. Probeer het opnieuw
                </div>
            </form>
        </div>
    </div>
</div>
