<app-content xmlns="http://www.w3.org/1999/html">
  <div class="grid grid-cols-1 md:grid-cols-1 max-w-6xl gap-4" *ngIf="car">
    <h1 class="text-3xl font-bold mb-5 w-full">You are updating {{ car.title }}</h1>
    <div class="hero w-full bg-base-200 rounded-md">
      <div class="hero-content">
          <form class="max-w-md" (ngSubmit)="onSubmit(f)" #f="ngForm">

            <div class="form-group w-full">
              <label class="text-3xl font-bold text-gray-400" for="title">Title</label>
              <input
                type="text"
                id="title"
                class="form-control mt-2 mb-2 text-lg px-6 text-center align-center rounded-md text-gray-200 bg-gray-500 w-full"
                [(ngModel)]="car.title"
                name="title"
                required>
            </div>
            <div class="form-group text-black">
              <label class="text-3xl font-bold text-gray-400" for="title">Description</label>
              <input
                type="textarea"
                id="description"
                class="form-control textarea mt-2 mb-2 rounded-md text-gray-200 bg-gray-500 w-full"
                [(ngModel)]="car.description"
                name="description"
                required>
            </div>
            <div class="form-group w-full">
              <label class="text-3xl font-bold text-gray-400" for="title">Manufacturer</label>
              <input
                type="text"
                id="manufacturer"
                class="form-control mt-2 mb-2 text-lg px-6 text-center align-center rounded-md text-gray-200 bg-gray-500 w-full"
                [(ngModel)]="car.manufacturer"
                name="manufacturer"
                required>
            </div>
            <div class="form-group w-full">
              <label class="text-3xl font-bold text-gray-400" for="title">Price</label>
              <input
                type="text"
                id="price"
                class="form-control mt-2 mb-2 text-lg px-6 text-center align-center rounded-md text-gray-200 bg-gray-500 w-full"
                [(ngModel)]="car.price"
                name="price"
                required>
            </div>
            <div class="flex flex-row w-full gap-2">
              <div class="form-group w-1/2">
                <label class="text-2xl font-bold text-gray-400" for="title">Year</label>
                <input
                  type="text"
                  id="year"
                  class="form-control mt-2 mb-2 text-lg px-6 text-center align-center rounded-md text-gray-200 bg-gray-500 w-full"
                  [(ngModel)]="car.year"
                  name="year"
                  required>
              </div>
              <div class="form-group w-1/2">
                <label class="text-2xl font-bold text-gray-400" for="title">KMs</label>
                <input
                  type="text"
                  id="km"
                  class="form-control mt-2 mb-2 text-lg px-6 text-center align-center rounded-md text-gray-200 bg-gray-500 w-full"
                  [(ngModel)]="car.km"
                  name="km"
                  required>
              </div>
            </div>
            <div class="flex flex-row w-full gap-2">
              <div class="form-group w-1/2">
                <label class="text-2xl font-bold text-gray-400" for="title">Cylinders</label>
                <input
                  type="number"
                  id="cylinders"
                  class="form-control mt-2 mb-2 text-lg px-6 text-center align-center rounded-md text-gray-200 bg-gray-500 w-full"
                  [(ngModel)]="car.cylinders"
                  name="cylinders"
                  required>
              </div>
              <div class="form-group w-1/2">
                <label class="text-2xl font-bold text-gray-400" for="title">Displacement</label>
                <input
                  type="number"
                  id="engine_displacement"
                  class="form-control mt-2 mb-2 text-lg px-6 text-center align-center rounded-md text-gray-200 bg-gray-500 w-full"
                  [(ngModel)]="car.engine_displacement"
                  name="engine_displacement"
                  required>
              </div>
            </div>
            <div class="form-group w-full">
              <label class="text-2xl font-bold text-gray-400" for="thumbnail">Thumbnail</label>
              <p>Leave blank if you want your thumbnail to be unchanged.</p>
              <input
                (change)="onChange($event)"
                type="file"
                id="thumbnail"
                class="form-control file-input file-input-bordered w-full"
                ngModel
                name="thumbnail">
            </div>
            <div class="flex flex-wrap ml-auto mt-2">
              <button
                class="btn btn-primary ml-auto"
                type="submit"
                [disabled]="!f.valid">
                Edit
              </button>
            </div>
          </form>
      </div>
    </div>
    <div class="alert alert-success shadow-lg" *ngIf="showSuccess">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>Your car has been updated.</span>
      </div>
    </div>
    <div class="alert alert-error shadow-lg" *ngIf="showFail">
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" class="stroke-current flex-shrink-0 h-6 w-6" fill="none" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" /></svg>
        <span>Your car could not be updated.</span>
      </div>
    </div>
  </div>
</app-content>
